<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>login</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.1/axios.min.js"></script>
  </head>

  <body>
    <p>this is the login site for the pc user, please add your info to login</p>
    <p>username</p>
    <input id="username" type="text" size="100" /><br />
    <p>password</p>
    <input id="password" type="text" size="100" /><br />
    <input
      id="chat-message-submit"
      type="button"
      value="Send"
      onclick="myFunction()"
    />

    <script>
      const myFunction = () => {
        var username = document.getElementById("username").value;
        var password = document.getElementById("password").value;
        axios
          .post("http://127.0.0.1:8000/prn/mobile_login", JSON.stringify({
            "personal_number": username,
            "password":password,
            "identifier":"123456789"
          }))
          .then(
            (response) => {
              console.log(response);
              if (response.status==200){
               window.location.pathname="prn/choose_kasa"
              }
            },
            (error) => {
              console.log(error);
            }
          );
        console.log(identifier);
        console.log(window.location.href);
        console.log("window.location.pathname");
      };
    </script>
  </body>
</html>
