<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Chat Room</title>
  </head>

  <body>
    <textarea id="chat-log" cols="100" rows="20"></textarea><br />
    <div style="display: flex; flex-direction: column">
      <label for="request">request</label>
      <input type="text" title="request" id="chat-message-input" name="request" />
      <label for="info">info</label>
      <input type="text" title="info" name="info" id="info" />
      <!-- <label for="info">request</label> -->
      <!-- <input id="chat-message-input" type="text" size="100" /><br /> -->
      <input id="chat-message-submit" type="button" value="Send" />
    </div>
    {{ room_name|json_script:"room-name" }}
    <script>
      const roomName = JSON.parse(
        document.getElementById("room-name").textContent
      );

      const chatSocket = new WebSocket(
        "ws://" +
          window.location.host +
          "/ws/pc/" +
          roomName +
          "/" +
          "123456789" +
          "/"
      );

      chatSocket.onmessage = function (e) {
        const data = JSON.parse(e.data);
        console.log(data);
        document.querySelector("#chat-log").value += e.data + "\n";
      };

      chatSocket.onclose = function (e) {
        // console.error(e);
        console.error(e);
      };

      document.querySelector("#chat-message-input").focus();
      document.querySelector("#chat-message-input").onkeyup = function (e) {
        if (e.keyCode === 13) {
          // enter, return
          document.querySelector("#chat-message-submit").click();
        }
      };

      document.querySelector("#chat-message-submit").onclick = function (e) {
        const messageInputDom = document.querySelector("#chat-message-input");
        const infoItem = document.querySelector("#info");
        const message = messageInputDom.value;
        const info = infoItem.value;
        var json_message = JSON.stringify({
            "request": message,
            "info":info,
            "receivers": ["123456789"],
          });
        console.log(json_message)
        chatSocket.send(
          json_message
        );

        messageInputDom.value = "";
      };
    </script>
  </body>
</html>
